<<<<<<< HEAD
=======
@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold'), url('/src/assets/fonts/Gilroy-Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Gilroy-Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Heavy'), url('/src/assets/fonts/Gilroy-Heavy.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Light'), url('/src/assets/fonts/Gilroy-Light.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Medium'), url('/src/assets/fonts/Gilroy-Medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Regular'), url('/src/assets/fonts/Gilroy-Regular.woff') format('woff');
  }

>>>>>>> origin/develop
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
=======
  font-family: "Gilroy-Regular";
>>>>>>> origin/develop
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  font-family: sans-serif;
}

button,
input {
  cursor: pointer;
}

body {
  overflow: hidden;
  /* background-image: linear-gradient(); */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(102,13,157);
  background: linear-gradient(145deg, rgba(102,13,157,1) 0%, rgba(0,47,104,1) 100%);
}